.popup__black {
  background: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrap {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  z-index: 1060;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 0;
  top: 0;
  display: none
}

.popup h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  margin-top: 11px
}

.popup .input-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px
}

.popup .input-double .input {
  width: 100%;
  margin: 0
}

.popup .input-double .input input {
  padding-left: 15px
}

.popup .input-double .select {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 49px;
  margin-left: 20px;
  position: relative;
  max-width: 80px;
  width: 100%
}

.popup .input-double .select:active svg {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}

.popup .input-double .select svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 7px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.popup .input-double .select select {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: 0 0;
  padding-left: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  outline: 0
}

.popup__sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1051px;
  position: relative
}

.popup__sides .rht {
  width: 100%;
  max-width: 684px;
  border-radius: 0 10px 10px 0;
  position: relative;
  padding-top: 33px;
  padding-left: 28px
}

.popup__sides .rht a {
  background: #303030;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 210px;
  height: 30px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 17px
}

.popup__sides .rht a:hover {
  text-decoration: underline
}

.popup__sides ul {
  margin: -21px 0
}

.popup__sides ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin: 21px 0
}

.popup__sides ul li span {
  max-width: 280px;
  margin-left: 14px
}

.popup_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.popup__close {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

//.popup__close:hover {
//  -webkit-box-shadow: 0 0 5px 2px #fff;
//  box-shadow: 0 0 5px 2px #fff;
//  border-radius: 50%
//}

.popup form {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-17.35%, #b44b4b), color-stop(212.31%, #d36e6e));
  background: -o-linear-gradient(top, #b44b4b -17.35%, #d36e6e 212.31%);
  background: linear-gradient(180deg, #b44b4b -17.35%, #d36e6e 212.31%);
  border-radius: 10px;
  max-width: 366px;
  padding: 40px 24px 24px;
  width: 100%;
  position: relative
}

.popup .forgot {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: -10px;
  color: #fff;
  display: block;
  margin-bottom: 10px
}

.popup .forgot:hover {
  text-decoration: underline
}

.popup input[type=submit] {
  background: #303030;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  border: none;
  cursor: pointer
}

.popup input[type=submit]:hover {
  background: #fff;
  color: #303030
}

.popup .input {
  border: 1px solid #fff;
  border-radius: 5px;
  position: relative;
  height: 49px;
  margin: 20px 0
}

.popup .input svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 16px
}

.popup .input input {
  position: absolute;
  top: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 39px;
  outline: 0;
  border: none;
  background: 0 0
}

.popup .input input::-webkit-input-placeholder {
  color: #fff;
  opacity: .6
}

.popup .input input::-moz-placeholder {
  color: #fff;
  opacity: .6
}

.popup .input input:-ms-input-placeholder {
  color: #fff;
  opacity: .6
}

.popup .input input::-ms-input-placeholder {
  color: #fff;
  opacity: .6
}

.popup .input input::placeholder {
  color: #fff;
  opacity: .6
}

.popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.header__singin-popup.active, .header__register-popup.active, .popup__reg-user-popup.active {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #fff
}

.popup__top a {
  font-size: 16px;
  line-height: 19px;
  color: #fff
}

.popup__top a:hover {
  text-decoration: underline
}

.popup__reg-model .rht {
  background: url('../../../../../assets/img/mock/ph5.png') no-repeat;
  background-size: cover;
  background-position: center
}

.popup__reg-model form {
  border-radius: 10px 0 0 10px
}

.popup__reg-user .rht {
  padding-top: 20px;
  padding-left: 15px
}

.popup__reg-user li .svg {
  width: 60px;
  text-align: center
}

.popup__reg-user .rht {
  background: url('../../../../../assets/img/mock/ph6.png') no-repeat;
  background-size: cover;
  background-position: center
}

.popup__reg-user form {
  border-radius: 10px 0 0 10px
}

.popup__roses .popup__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, .29)
}

.popup__roses .popup__bottom h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  margin-bottom: 0
}

.popup__roses .popup__bottom input {
  background: #303030;
  border-radius: 20px;
  max-width: 158px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  height: 40px;
  text-align: center;
  color: #fff
}

.popup__roses form {
  max-width: 540px;
  width: 100%;
  padding: 20px
}

.popup__roses h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 19px;
  color: #fff
}

.popup__roses .popup__radio {
  margin: 10px 0
}

.popup__roses .popup__radio input[type=radio] {
  display: none
}

.popup__roses .popup__radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer
}

.popup__roses .popup__radio label:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02)
}

.popup__roses .popup__radio label input {
  background: #303030;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  max-width: 300px;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: 0;
  margin-left: auto
}

.popup__roses .popup__radio label:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 8px
}

.popup__roses .popup__radio label:after {
  content: '';
  background: #000;
  width: 8px;
  height: 8px;
  position: absolute;
  display: none;
  top: 50%;
  left: 6px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.popup__roses .popup__radio label span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff
}

.popup__roses .popup__radio label .num {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-left: auto;
  height: 39px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px
}

.popup__roses .popup__radio input:checked + label:after {
  display: block
}

.popup__roses .popup__radio input:checked + label span {
  font-weight: 700
}

.popup__roses .popup__radio input:checked + label .num {
  border: 2px solid #fff
}

.popup__roses .popup__top {
  position: absolute;
  top: -30px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}

.popup__roses .popup__top .popup__close {
  position: static
}

.popup__roses .popup__top h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-left: 20px
}

.container {
  flex-direction: row-reverse;
  margin-left: 22px;

  .popup__close {
    position: relative;
    right: 23px;
    top: -30px;
  }
}
