.alerts{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../../../../assets/img/warning/background.png') no-repeat center;
  background-size: cover;
  z-index: 999999999;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 65px;
  overflow: auto;
  p{
    margin: 75px 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    a{
      font-weight: 500;
      text-decoration: underline;
      color: #fff;
      &:hover{
        color: #ccc;
      }
    }
  }
  &__bottom{
    padding-top: 25px;
    border-top: 1px solid #fff;
    img{
      margin: 0 10px;
    }
  }
  button{
    background: rgba(218, 218, 218, 0.49);
    border-radius: 11px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    max-width: 229px;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: center;
    color: #FFFFFF;
    &:hover{
      background: #fff;
      text-shadow: 0 1px 2px #000;
    }
  }
  .wrapper{
    max-width: 803px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
