a{
  text-decoration: none;
  color: #000;
}

body{
  background: #303030;
}

ul,ol{
  list-style-type: none;
}

.wrapper{
  margin: 0 auto;
  max-width: 100%;
  padding: 0 58px;
}

@import "assets/styles/index";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

